body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(137, 185, 195);
  padding: 0;
  margin: 0;
}

button {
  background-color: #1b20a3;
  color: rgb(0, 217, 255);
  font-size: 1.5rem;
  font-weight: 700;
  width: 20rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#game div,
#game ul {
  display: none;
}

header {
  background-color: #1b20a3;
  color: rgb(0, 217, 255);
  padding: 2rem;
  position: fixed;
  width: 100%;
}

header h1 {
  padding: 0;
  margin: 0;
}

header nav {
  position: fixed;
  right: 2rem;
  top: 1rem;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: rgb(0, 217, 255);
}

header nav ul li span#joinurl {
  padding-right: 2rem;
}

footer {
  background-color: #1b20a3;
  color: rgb(0, 217, 255);
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  color: rgb(137, 185, 195);
}

#init, #join, #game {
  margin: 0;
  padding: 7rem 2rem;
}

.card {
  width: 11rem;
  height: 15rem;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 1rem;
  float: left;
  margin-right: 1rem;
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.7rem;
}

.card span.answer {
  display: inline-block;
  width: 3rem;
  height: 1rem;
  border-bottom: 1px solid #fff;
}

#question {
  background-color: #000;
  color: #fff;
}

#answer.answered {
  background-color: #cecece;
}

#players {
  margin: 1rem 0 2rem 0;
  padding: 0;
}

#players li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  margin-right: 1.0rem;
}

#players li.answered {
  border-color: #0f0;
}

#players li.me {
  border: 2px solid rgb(0, 217, 255);
  color: #1b20a3;
}

#players li .close {
  height: 1.3rem;
  display: inline-block;
}

#players li .gavel {
  display: none;
  height: 1.3rem;
}

#players li.judge .gavel {
  display: inline-block;
  margin-right: 0.5rem;
  color: #080;
}

#players li span.score {
  width: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  font-weight: 700;
  display: inline-block;
}

#players li i.fa-circle-xmark {
  color: #909090;
}

#players li i.fa-circle-xmark:hover {
  color: #f00;
  cursor: pointer;
}

#answers {
  clear: both;
  padding-top: 2.0rem;
  margin-left: 0;
  padding-left: 0;
}

#answers.judging li:hover {
  cursor: pointer;
  background-color: #0707;
}

#answers li {
  list-style-type: none;
}

#done {
  font-size: 3.0rem;
}

#new {
  margin-top: 2.0rem;
}

footer {
  clear: both;
  padding-top: 2.0rem;
}